* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header{
    margin: 0;
    background-color: #EC715F;
    height: 70px;
}

.header-logo{
    float: left;
}


ul{
	float: right;
	line-height: 70px;
}

li{
 	display: inline-block;
 	margin: 0 30px;
 	font-size: 16px;
 }

.header-px{
 	width: 1024px;
 	margin-right: auto;
 	margin-left: auto;
 }

.main-visual{
 	width: 100%;
    height: 650px;
    text-align: center;
    color: #FAFAFA;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
 }

.mv-title {
    padding-top: 200px;
    font-size: 64px;
}

.mv-text {
    padding-top: 10px;
    font-size: 20px;
}

.portfolio{
	background-color: #ECEFF1;
	padding: 90px 0;
}

.title{
    padding-bottom: 8px;
    font-size: 32px;
    color: #000000;
    text-align: center;
}

.text{
    padding: 30px 0;
    text-align: center;
    color: #000000;
    font-size: 16px;
}

.portfolio-image{
	width: 920px;
	margin-right: auto;
	margin-left: auto;
}

.pf-image:nth-child(1){
	width: 300px;
	height: 250px;
    background-image: url(../img/sketch.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.pf-image:nth-child(2){
	width: 300px;
	height: 250px;
    background-image: url(../img/websuku.png);
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.pf-image:nth-child(3){
	width: 300px;
	height: 250px;
    background-image: url(../img/write.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-bottom: 10px;
}
.pf-image:nth-child(4){
	width: 300px;
	height: 250px;
    background-image: url(../img/webcamp.png);
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
}
.pf-image:nth-child(5){
	width: 300px;
	height: 250px;
    background-image: url(../img/talk.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
}
.pf-image:nth-child(6){
	width: 300px;
	height: 250px;
    background-image: url(../img/webcamp-mother.png);
    background-size: cover;
    background-position: center;
    float: left;
}

.border{
	height: 3px;
	width: 70px;
	background-color: #EC715F;
	margin-right: auto;
 	margin-left: auto;
}

.icon{
    width: 320px;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

.strength{
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.s-main:nth-child(1){
    width: 320px;
    float: left;
    margin-right: 10px;
}
.s-main:nth-child(2){
    width: 320px;
    float: left;
    margin-right: 10px;
}
.s-main:nth-child(3){
    width: 320px;
    float: left;
}

.s-h3{
    padding: 10px 0;
    text-align: center;
}

.feature{
    padding: 90px 0;
}

.profile{
    background-color: #ECEFF1;
    padding: 90px 0;
}

.profile-main{
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.p-icon {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url(../img/my-icon.jpg);
    margin-right: auto;
    margin-left: auto;
}

.p-icon-main{
    width: 50%;
    float: left;

}

.p-h3{
    font-size: 20px;
    padding-bottom: 5px;
}

.p-ns-main{
    width: 50%;
    float: right;
}

.p-n{
    margin-bottom: 20px;
}

.contact{
    padding: 90px 0;
}

.contact-main{
    width: 800px;
    margin: 0 auto;
}

.contact-mt{
    width: 50%;
    float: left;
}

.contact-sns{
    width: 50%;
    float: right;
}

.contact-a{
    color: #000000;
    text-decoration: underline;
}

.c-h3{
    margin-bottom: 5px;
    font-size: 20px;
}

.mail{
    margin-bottom: 20px;
}

.c-mt-main{
    width: 130px;
    margin: 0 auto;
}

.c-sns-main{
    width: 200px;
    margin: 0 auto;
}

.sns-icon{
    font-size: 50px;
    margin-right: 20px;
    float: left;
}

footer{
    margin: 0;
    background-color: #EC715F;
    height: 60px;
}

.copyright{
    text-align: center;
    color: #FAFAFA;
    line-height: 60px;
}
}